.menu-topo-mc {
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
  background-color: #fff;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}
.menu-topo-mc span.clear-input-btn {
  position: absolute;
  right: 45px;
  top: 20%;
  color: #ccc;
  z-index: 3;
  cursor: pointer;
}
.menu-topo-mc .menu-top-content {
  padding-bottom: 15px;
}
@media (max-width: 750px) {
  .menu-topo-mc .menu-top-content {
    display: none;
  }
}
@media (min-width: 750px) {
  .menu-topo-mc .menu-top-content {
    display: block !important;
  }
}
.menu-topo-mc .expander-menu-top {
  width: 100%;
  border-radius: 0;
  border-width: 0;
  display: block;
}
@media (min-width: 750px) {
  .menu-topo-mc .expander-menu-top {
    display: none;
  }
}
@media (max-width: 750px) {
  .menu-topo-mc .expander-menu-top {
    display: block;
  }
}
.fixed-top-mc {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
}
.highlight {
  background-color: yellow;
}
.highlight.current {
  background-color: orange;
}
.commentable-container {
  -webkit-transition: all 0.22s ease;
  transition: all 0.22s ease;
}
.commentable-container .commentable-section .side-comment .comment-weight-container span {
  display: inline;
}
.commentable-container h1,
.commentable-container h2,
.commentable-container h3,
.commentable-container h4,
.commentable-container h5,
.commentable-container h6 {
  font-weight: 700;
  width: 100%;
  font-family: roboto;
  text-align: center;
  margin: 30px 0;
  color: #BC3F3E;
}
.commentable-section {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 50px 15px 15px;
  margin: 25px 0;
  cursor: pointer;
}
.commentable-section:hover {
  background-color: #f2f2f2;
  -webkit-box-shadow: 3px 5px 15px -1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 5px 15px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 5px 15px -1px rgba(0, 0, 0, 0.3);
}
.side-comment.active .marker,
.side-comment:hover.active .marker {
  display: none;
}
.commentable-section:hover .side-comment .marker {
  display: block;
}
.commentable-section:hover.active .side-comment .marker {
  display: none;
}
.side-comment {
  position: absolute;
  top: 0;
  right: 15px;
  width: 20px;
}
.side-comment .comments-estructure {
  max-height: 490px;
  overflow-y: auto;
  border-bottom: 1px solid #ccc;
}
.side-comment * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.side-comment .hide {
  display: none;
}
.side-comment .marker {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 50%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  background: #cacaca;
  border-radius: 2px;
  text-decoration: none;
  text-align: left !important;
}
.side-comment .marker span {
  display: none;
  content: "+";
  position: absolute;
  width: 25px;
  height: 25px;
  line-height: 16px;
  font-size: 14px;
  color: #2980B9;
  text-align: center;
}
.side-comment .add-comment {
  display: none;
}
.side-comment .comments-wrapper {
  text-align: left !important;
  display: none;
  position: absolute;
  top: 0;
  left: 0px;
  width: 485px;
  padding-bottom: 120px;
  padding: 15px;
  border: 1px solid #a0a0a0;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  z-index: 2;
  color: #222222;
  -webkit-box-shadow: 3px 5px 15px -1px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 3px 5px 15px -1px rgba(0, 0, 0, 0.51);
  box-shadow: 3px 5px 15px -1px rgba(0, 0, 0, 0.51);
  background-color: #fff;
  cursor: auto;
}
.side-comment .comments-wrapper .comments-header {
  margin: 0;
  padding: 0 0 1em 0;
  border-bottom: 1px solid #ccc;
}
.side-comment .comments-wrapper .comments-header .titulo-comments {
  color: #9c9c9c;
  margin: 0;
  padding: 0;
}
.side-comment .comments-wrapper .comments-header .close-btn {
  cursor: pointer;
}
.side-comment .comments-wrapper .comments {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.side-comment .comments-wrapper .comments li {
  width: 100%;
  overflow: hidden;
  padding: 10px 10px 0 10px;
}
.side-comment .comments-wrapper .comments li .comentario-fill {
  width: 100%;
  border-radius: 0.5em;
  padding: 0.5em 0.5em 0.25em;
}

.side-comment .comments-wrapper .comments li .comentario-fill.opiniao {
    background-color: #cfcfcf;
}

.side-comment .comments-wrapper .comments li .comentario-fill.encaminhamento {
    background-color: #a8e7f9;
}

.side-comment .action-link.post.btn.btn-default,
.side-comment .action-link.cancel.btn.btn-default,
.side-comment .action-link.reply.btn.btn-default,
.side-comment .add-comment.mt-sm.btn.btn-success.btn-md
 {
    background-color: #3dcff4;
    color: #fff;
    border-radius: 1em;
    padding: 0.15em 0.5em 0.25em;
    font-weight: 600;
}

.side-comment .back-to-login.et_pb_ajax_login_button a{
	background-color: #3dcff4;
	text-align: center;
	color: #fff;
	border-radius: 1em;
}

.add-comment.mt-sm.btn.btn-success.btn-md {
	margin-top: 0.5em;
}

.mt-sm.side-comments-action-links {
    text-align: center;
}

.side-comment .comments-wrapper .comments .comment {
  margin: 0 0 10px 0;
  font-size: 15px;
  line-height: 16px;
}
.side-comment .comments-wrapper .comments .alert {
  font-size: 11px !important;
}
.side-comment .comment-box {
  margin: 0 0 1em 0;
  font-size: 14px;
  line-height: 18px;
  outline: none;
  border: none;
  border: 1px solid #aaaaaa;
  padding: 0;
  padding: 10px;
  width: 100%;
  z-index: 10;
  background-color: #ffffff;
  display: block;
  height: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.side-comment .actions {
  margin: 0;
  margin-top: 5px;
}
.side-comment .delete {
  margin-left: 42px;
}
.side-comment .add-comment.active {
  display: block;
}
.side-comment .comment-form {
  overflow: hidden;
  padding: 15px 0;
  z-index: 10;
  margin-top: 0;
}
.side-comment .comment-form.active {
  display: block;
}
.side-comment .comment-weight-container {
  display: inline-block;
}
.side-comment .marker:before {
  content: "+";
  position: absolute;
  width: 20px;
  height: 18px;
  line-height: 16px;
  font-size: 25px;
  color: #2980B9;
  text-align: center;
  font-weight: 700;
  left: 3px;
  top: 5px;
}
.side-comment .marker:before :hover {
  color: #fff;
}
.side-comment .marker:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -7px;
  left: 5px;
  width: 0;
  border-width: 7px 8px 0 0;
  border-style: solid;
  border-color: #cacaca transparent;
}
.side-comment .marker:hover {
  background: #4faf62;
  color: #fff;
}
.side-comment .author-name {
  font-size: 15px;
  line-height: 16px;
  margin: 0;
  padding: 0;
  font-weight: 700;
  text-decoration: none;
  color: #222222;
}
.side-comment .comment-time {
  font-size: 11px;
  color: #686868;
}
.side-comment a.author-name:hover {
  color: #444444;
}
.side-comment .action-link:hover {
  text-decoration: none;
}
.side-comment .action-link.post .post {
  color: #89c794;
}
.side-comment .action-link.post .post:hover {
  color: #468c54;
}
.side-comment.active .comments-wrapper {
  display: block;
  -webkit-animation: fadein 0.2s;
  animation: fadein 0.2s;
}
.side-comment.has-comments ul.comments {
  display: block;
}
.side-comment.has-comments .add-comment {
  display: block;
}
.side-comment.has-comments .marker:before {
  content: "";
}
.side-comment.has-comments .marker span {
  display: block;
  color: #fff;
  margin-top: 5px;
  font-weight: 700;
}
.side-comment.has-comments .add-comment.hide {
  display: none;
}
.side-comment.has-comments .comment-form {
  display: none;
}
.side-comment.has-comments .comment-form.active {
  display: block;
}
.side-comment.has-comments + .active .marker {
  display: none;
}
.side-comment.no-current-user .add-comment {
  display: block;
  margin-top: 20px;
}
.side-comments-open {
  -webkit-transform: translate(-220px, 0);
  -webkit-transform: none;
  -ms-transform: translate(-220px, 0);
  -ms-transform: none;
  transform: translate(-220px, 0);
  transform: none;
}
.side-comment .marker:hover:after,
.side-comment.active .marker:after {
  border-color: #4faf62 transparent;
}
p.commentable-section {
  font-size: 18px;
  width: 100%;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
p.commentable-section.active {
  width: 60%;
  margin-top: 33px;
  padding: 20px 40px 20px 20px;
  border-left: 10px solid #999999;
  color: #000000;
  background-color: #f1f1f1;
}
.logged-in p.commentable-section.active {
  margin-top: 65px;
}
.has-comments .marker {
  background: #2980b9;
  color: #fff;
}
.has-comments .marker:after {
  border-color: #2980b9 transparent;
}
.active .comments-wrapper:before {
  font-family: delibera;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
}
.commentable-section.active:after {
  font-family: delibera;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  content: "\e820";
  font-size: 50px;
  display: block;
  right: 32px;
  top: 35%;
  position: absolute;
  color: #666666;
}

.commentlist .side-comment, .hidden {
	display:none;
}

.side-comment a.attachmentLink {
    width: 100%;
    display: block;
}

.fa.fa-times.delibera-icon-cancel {
    display: block;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    border-radius: 1em;
    background-color: #3dcff4;
    color: #fff;
    padding: 0.1em;
}

@media only screen and (max-width: 1125px) {
  .side-comment .comments-wrapper {
    width: 385px;
  }
}
@media only screen and (max-width: 992px) {
  p.commentable-section.active {
    width: 50%;
  }
}
@media only screen and (max-width: 768px) {
  p.commentable-section.active {
    width: 100%;
  }
  .commentable-section.active:after {
    display: none;
  }
  .side-comment.active {
    position: relative;
    width: 100%;
    left: 0;
    margin-top: 25px;
  }
  .side-comment .comments-wrapper {
    position: initial;
    width: 100%;
  }
  .comments-wrapper:before {
    font-family: delibera;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    content: "\e822";
    font-size: 50px;
    display: block;
    left: 50%;
    top: -45px;
    position: absolute;
    color: #999999;
  }
}
@media only screen and (max-width: 480px) {
  p.commentable-section.active {
    padding: 5px;
    border-left-width: 5px;
  }
}
