<div class="side-comment <%= sectionClasses %>">
    <a href="#" class="marker"> <span><%= comments.length %></span> </a>

    <div class="comments-wrapper">
        <div class="comments-header clearfix">
            <div class="pull-left">
                <h5 class="font-roboto titulo-comments">
                    <strong><%= commentsData.texts['list-header'] %></strong>
                </h5>
            </div>
            <div class="pull-right close-btn">
                <i class="fa fa-times"></i>
            </div>
        </div>
        <div class="clearfix comments-estructure">
            <ul class="comments" data-root-id="0">
                <% _.each(comments, function( comment ){ %>
                <%= _.template(commentTemplate, {
                comment: comment,
                currentUser: currentUser,
                allowUserInteraction: allowUserInteraction })
                %>
                <% }) %>
            </ul>
        </div>
        <% if (!allowUserInteraction){ %>
        <div class="user-interaction-disabled">
            <%= commentsData.texts['closed-topic-text'] %>
        </div>
        <% } else if (currentUser){ %>
        <a href="#" class="add-comment mt-sm btn btn-success btn-md delibera-icon-chat-empty" data-parent="0" data-comment="">
            <%= commentsData.texts['leave-a-comment'] %>
        </a>

        <div class="comment-form" data-parent="0" data-comment="">
            <p class="author-name"> <%= currentUser.name %> </p>
            <div id="comment-box-entry-attachment-" class="comment-box-entry-attachment"></div>
			<% if (commentsData.pautas_suportam_encaminhamento == 1) { %>
				<% if (commentsData.situacao != 'relatoria') { %>
					<label class="action-link opiniao delibera-encaminha-label" ><input type="radio" name="delibera_encaminha-<%= comment.commentID %>" value="N" checked="checked" /><%= commentsData.texts['opinion'] %></label>
				<% } %>
				<label class="action-link encaminhamento delibera-encaminha-label" ><input type="radio" name="delibera_encaminha-<%= comment.commentID %>" value="S" <%= ((commentsData.situacao == 'relatoria') ? ' checked="checked" ' : '') %> /><%= commentsData.texts['referral'] %></label>
			<% } else { %>
				<input type="hidden" name="delibera_encaminha-<%= comment.commentID %>" value="N" />
			<% } %>
            <div class="comment-box" contenteditable="true" data-placeholder-content="Deixe seu comentário">
            </div>
            <div class="mt-sm">
                <a href="#" class="action-link post btn btn-default text-blue" data-parent="0"
                   data-comment=""><%= commentsData.texts['button-send'] %></a>
                <a href="#" class="action-link cancel btn btn-default red" data-parent="0" data-comment=""><%= commentsData.texts['button-cancel'] %></a>
            </div>
        </div>
        <% } else { %>
        <div class="back-to-login et_pb_ajax_login_button">
            <a href="#" class="add-comment mt-sm btn btn-info btn-md">
                <%= commentsData.texts['need-login'] %>
            </a>
        </div>
        <% } %>
    </div>
</div>
